<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clients</key>
	<dict/>
	<key>haha</key>
	<dict>
		<key>wyy</key>
		<string>lzb</string>
	</dict>
	<key>renerne</key>
	<string>nini</string>
</dict>
</plist>
